*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:bold;
}
.nav-droite > ul {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #C1E3D8;
  height: 20px;
  padding: 20px 40px;
  color:dimgray;
}

.nav-droite{
  position: fixed;
  right: 0;
  margin-right: 20px;
}

.nav-droite > ul > li{
  margin-left: 70px;
}

.connex {
  display:flex;
  height: 300px;
  width: 400px;
  align-items: center;
  background-color:burlywood;
}

.connex > ul{
  list-style: none;
  background-color: antiquewhite;
  margin-bottom: 5px;
  width: 60%;
}

.connex > ul > li{
  margin-bottom: 5px;
  border-radius: 12px;
}

.connex > ul > li > input{
  border-radius: 4px;
  height: 20px;
  width: auto;
}

.connexButton{
  width: 200px;
}